.wknd-accordion-item {
  border: 1px solid #dadada;
}

/* stylelint-disable-next-line no-descending-specificity */
.wknd-accordion-item + .wknd-accordion-item {
  margin-top: 24px;
}

.wknd-accordion .wknd-accordion-item-label {
  position: relative;
  padding: 16px 46px 16px 16px;
  cursor: pointer;
  overflow: auto;
  transition: background-color 0.2s;
  font-weight: 600;
  user-select: none;
}

.wknd-accordion .wknd-accordion-item-label:focus,
.wknd-accordion .wknd-accordion-item-label:hover {
  background-color: var(--light-color);
  outline: 2px solid var(--link-color);
  outline-offset: -2px;
}

.wknd-accordion .wknd-accordion-item-label[aria-expanded='true'] {
  background-color: var(--light-color);
}

.wknd-accordion .wknd-accordion-item-label::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%) rotate(135deg);
  width: 6px;
  height: 6px;
  border: 2px solid;
  border-width: 2px 2px 0 0;
  transition: transform 0.2s;
}

.wknd-accordion .wknd-accordion-item-label[aria-expanded='true']::after {
  transform: translateY(-50%) rotate(-45deg);
}

.wknd-accordion .wknd-accordion-item-body {
  padding: 16px;
  border-top: 1px solid #dadada;
}

.wknd-accordion .wknd-accordion-item-body[hidden] {
  display: none;
}

.wknd-accordion .wknd-accordion-item-body > *:first-child {
  margin-top: 0;
}

.wknd-accordion .wknd-accordion-item-body > *:last-child {
  margin-bottom: 0;
}
